{% extends 'shop_app/base.html' %}
{% block sample %}
<div class="bg">
<h1 id="well"> About Us</h1>
<div class="shiv container">
<h2>Trying to make diffrence and ease in billing and managing medicines stock for the chemists shops.
<br><br>
Medicines management is an evidence-based approach to prescribing which balances the safety, tolerability, effectiveness, cost and simplicity of treatments. Good medicines management means that patients receive better, safer and more convenient care.

Medicines management includes:

Giving unbiased information about medicines and treatments
Supporting practitioners and patients to make best use of medicines
Minimising the harm caused by medicines
Developing local guidelines to optimise the management of conditions
Communicating with local hospital trusts
<hr>
<hr>
Hope you are enjoying using our services and in futur also we wish we can give you alot of new features ,<br>but for that , it will take some time , but not so long.
<br>
</h2>
</div>
<!-- Footer -->
<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
        <a color="#E41F09" class="btn btn-outline-white" href="#" target="_blank" role="button">9860311717 
            <i class="fas fa-phone"></i>
        </a>
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank" role="button">MedicineBook.com
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>


    <!--Copyright-->
    <div class="footer-copyright py-3" color="white">
        © 2018 Copyright:
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"> MedicineBook@gmail.com </a>
    </div>
    <!--/.Copyright-->

</div>
{% endblock %}
