<!DOCTYPE html>
<html lang="en">
<head>
	<title>Success</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'register/style.css' %}">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
tr {
    text-align: center;
}
a {
    color: black;
}
th {
    color:black;
    font: bolder;
    text-align: center;
}
div.footer {
    display: inline-block;
    margin-left: 150px;
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjTrMnbHu1UYIWhCUo8GSCEc46tvJ9rkkSojyurQkFSOAeH6gclA&s");
    background-repeat: no-repeat;
    background-size: cover;
}

</style>


<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="alert alert-success" role="alert'">
					<h4 class="alert-heading">Success</h4>
						<p><strong> Order Confirmation has been sent to your email !!!  </strong></p>
                        <a class ="btn btn-primary" href="/"> HOME </a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>