<!DOCTYPE html>
<html lang="en">
<head>
	<title>Success</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'register/style.css' %}">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
tr {
    text-align: center;
}
a {
    color: black;
}
th {
    color:black;
    font: bolder;
    text-align: center;
}
div.footer {
    display: inline-block;
    margin-left: 150px;
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjTrMnbHu1UYIWhCUo8GSCEc46tvJ9rkkSojyurQkFSOAeH6gclA&s");
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
<body>
<br>
<div class="soc one">
    <h3> <center> MY ORDERS </center> </h3>
</div>
<br>
      <table class="table table-secondary">
        <tr class="table-hover table-secondary">
         <th>Product</th>
         <th>Price</th>
         <th>Quantity</th>
         <th>Date</th>
       </tr>
       {% for item in items %}
       <tr class="table-hover table-secondary">
         <td>{{item.medicine.Name}}</td>
         <td>{{item.medicine.MRP}}</td>
         <td>{{item.quantity}}</td>
         <td>{{item.time}}</td>
       </tr>
  {% endfor %}
      </table>
      <center><a class ="btn btn-primary" href="/"> HOME </a></center><br><br>

</body>
<html>